<footer class='main-footer'>
        <div id='contact_info'>
        <img src='../images/favicon-white.png' style='height: auto; width: 32px; position: relative; bottom: 5px;'>
            <p> &copy; 2026 - Austin Andelin</p>
        </div>
        <div id='footer-links'>
            <a href="mailto:austin.andelin@outlook.com">
                <img src='../images/mail.png' alt='link to Linkedin profile'>
            </a>
            <a href="https://www.linkedin.com/in/austin-andelin/" target='_blank'>
                <img src='../images/mdi--linkedin.png' alt='link to Linkedin profile'>
            </a>
            <a id='github' href="https://github.com/austinandelin/portfolio" target='_blank'>
                <img src='../images/mage--github.png' alt='link to Github project'>
            </a>
            <a class='link-to-pages' href="projects">My Work</a>
            <a class='link-to-pages' href="about">About Me</a>
        </div>
      </footer>