<header class='main-header'>
        <nav id='navbar'>
            <a id='logo-link' href='https://austinandelin.com' alt='Austin Andelin'>
                <picture id='logo'>
                        <source media='(min-width: 500px)' srcset='/images/Logotype.png' width='350px'>
                        <source media='(max-width: 900px)' srcset='/images/favicon.png' height='40px' width='30px'>
                        <img src="/images/Logotype.png" alt="Austin Andelin Logo" height='100' width='200'>
                </picture>
                <!-- <img id='logo' src="./images/Logotype.png" alt="Austin Andelin"> -->
            </a>
            <div id='nav-links'>
                <a class='link' href='.../projects'>My Work</a>
                <a class='link' href='.../about'>About Me</a>
            </div>
        </nav>
    </header>