
  .hero-img-banner{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
  }
  #rrg-hero-img{
    background-image: url(../images/rrg_hero1-cropped-bottom.png);
  }
  #emree-jolley-img{
    background-image: url(../images/emree_hero1.jpg);
  }
  #august-hero-img{
    background-image: url(../images/august/august-hero.png);
  }
  #otternaut-hero-img{
    background-image: url(../images/otternaut/otternaut-hero.png);
    background-position: right;
  }
  #farmpass-hero-img{
    background-image: url(../images/farmpass/farmpass-hero.png);
  }
  #reeds-hero-img{
    background-image: url(../images/reeds/reed-hero.png);
  }
  #jurassic-farm-hero-img{
    background-image: url(../images/jurassic-farm/jurassic-farm-hero.png);
  }
  #wtp-hero-img{
    background-image: url(../images/wtp/wtp-hero.jpg);
  }
  #project-header{
    width: 80%;
    margin: 0 auto;
  }
  .project-text h1{
    margin: 0;
    font-size: 32pt;
  }
  .project-text h4{
    margin: 0;
    font-size: 18pt;
  }
  #project-header p{
    width: 100%;
  }
  .project-chip{
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 10px;
    display: inline-block;
    padding: 0 25px;
    height: 35px;
    font-size: 16px;
    line-height: 36px;
    border-radius: 25px;
    background-color: #c9e4f8;
    color: #156bac;
    font-weight: 400;
  }
  .project-text p, h2{
    margin: 1em auto;
    width: 80%;
  }
  .image-caption{
    font-style: italic;
    text-align: center;
  }
  .project-image{
    width: 60%;
    margin: 1em auto;
    display: block;
    cursor: pointer;
  }
  .small-image{
    width: 30%;
    margin: 1em auto;
    display: block;
    cursor: pointer;
  }

  /* Modal image overlay */
  .image-modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .image-modal-overlay.active{
    display: flex;
  }
  .image-modal-content{
    position: relative;
    max-width: 80vw;
    max-height: 90vh;
  }
  .image-modal-content img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    height: 90vh;
  }
  .image-modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: #fff;
    color: #000;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  }
  body.modal-open {
    overflow: hidden;
  }


  .notice{
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 60%;
    background-color: #c9e4f8;
    padding: 16px 36px;
    border-radius: 12px;
  }
  .notice h4{
    padding: 0 16px;
    font-size: 14pt;
    color: #156bac;
  }
  .project-outlink{
    text-decoration: underline;
    position: relative;
    display: inline-block;
  }
  .project-oulink::after {
  content: '';
  text-decoration: none;
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
  position: absolute;
  left: 0;
  bottom: -2px;
}
.project-outlink:hover::after {
  width: 100%;
}
  @media screen and (max-width: 500px) {
    .notice {
      display: block;
      width: 90%;
      padding: 16px 20px;
    }
    .notice svg{
      float: left;
    }
    
  }
  
  @media screen and (min-width: 500px) {
    .project-text h1{
      font-size: 40pt;
    }
    
  }
  @media screen and (min-width: 900px) {
    .hero-img-banner {
      height: 600px;
    }
    .project-image{
      width: 50%;
      margin: 2em auto;
    }
  }
  @media screen and (min-width: 1700px) {
    .hero-img-banner {
      height: 700px;
    }
  }