
  .hero-img-banner{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
  }
  #rrg-hero-img{
    background-image: url(../images/rrg_hero1-cropped-bottom.png);
  }
  #emree-jolley-img{
    background-image: url(../images/emree_hero1.jpg);
  }
  #august-hero-img{
    background-image: url(../images/august/august-hero.png);
  }
  #otternaut-hero-img{
    background-image: url(../images/otternaut/otternaut-hero.png);
  }
  #farmpass-hero-img{
    background-image: url(../images/farmpass/farmpass-hero.png);
  }
  #reeds-hero-img{
    background-image: url(../images/reeds/reed-hero.png);
  }
  #project-header{
    width: 80%;
    margin: 0 auto;
  }
  .project-text h1{
    margin: 0;
    font-size: 32pt;
  }
  .project-text h4{
    margin: 0;
    font-size: 18pt;
  }
  #project-header p{
    width: 100%;
  }
  .project-chip{
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 10px;
    display: inline-block;
    padding: 0 25px;
    height: 35px;
    font-size: 16px;
    line-height: 36px;
    border-radius: 25px;
    background-color: #c9e4f8;
    color: #156bac;
    font-weight: 400;
  }
  .project-text p, h2{
    margin: 1em auto;
    width: 80%;
  }
  .image-caption{
    font-style: italic;
    text-align: center;
  }
  #customer{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .0), rgba(0, 0, 0, .75)), 
    url(../images/customer-hero.png);
  }
  #rrg{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .0), rgba(0, 0, 0, .75)), 
    url(../images/rrg_hero1.png);
  }
  #emree{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .0), rgba(0, 0, 0, .75)), 
    url(../images/emree_hero1.jpg);
  }
  #august{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .0), rgba(0, 0, 0, .75)), 
    url(../images/august-project-card-blue.png);
  }
  #otternaut{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .0), rgba(0, 0, 0, .75)), 
    url(../images/otternaut-project-card.png);
  }
  #farmpass{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .0), rgba(0, 0, 0, .75)), 
    url(../images/farmpass-project-card.png);
  }
  #reeds{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .0), rgba(0, 0, 0, .75)), 
    url(../images/reeds-project-card.png);
  }

  .project-image{
    width: 100%;
    margin: 1em auto;
    display: block;
  }
  #small-image{
    width: 30%;
  }
  @media screen and (min-width: 500px) {
    .project-text h1{
      font-size: 40pt;
    }
    
  }
  @media screen and (min-width: 900px) {
    .hero-img-banner {
      height: 600px;
    }
    .project-image{
      width: 70%;
      margin: 2em auto;
    }
  }
  @media screen and (min-width: 1700px) {
    .hero-img-banner {
      height: 700px;
    }
  }